<!--
=========================================================
* BLK Design System- v1.0.0
=========================================================

* Product Page: https://www.creative-tim.com/product/blk-design-system
* Copyright 2019 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 -->


<body class="landing-page">
  <!-- Navbar -->

    <div class="wrapper">
      <div class="page-header">
      <img src="../assets/img/blob.png" class="path">
      <img src="../assets/img/path2.png" class="path2">
      <img src="../assets/img/triunghiuri.png" class="shapes triangle">
      <img src="../assets/img/waves.png" class="shapes wave">
      <img src="../assets/img/patrat.png" class="shapes squares">
      <img src="../assets/img/cercuri.png" class="shapes circle">
      <div class="container">
        <div class="row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-6 col-md-6">
           <h1 class="text-white">A sua personalidade é:
              <br/>
              <span class="text-white">Valente</span>
            </h1>

            <h4 class="text-white mb-3">As valentes vivem num mundo colorido e sensual, inspirado através das conexões com pessoas e ideias. As personalidades Valentes têm alegria em reinterpretar essas conexões, reinventando e experimentando com si próprias e novas perspectivas. Nenhum outro tipo de personalidade explora e experimenta dessa maneira. Isso cria uma sensação de espontaneidade, fazendo os Aventureiros parecerem imprevisíveis, mesmo com seus amigos e entes queridos.</h4>
            <div class="btn-wrapper mb-3">
              <p class="category text-success d-inline">Saber mais sobre</p>
              <button href="#blk" class="btn btn-success btn-link btn-sm"><i class="tim-icons icon-minimal-right"></i></a>
            </div>
            <div class="btn-wrapper">
              <div class="button-container">

                <a href="#itens" class="btn btn-primary btn-round pulse btn-fab">
                  <i class="tim-icons icon-minimal-down"></i>
                </a>

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-5">
            <img src="<%= asset_path("valente.png") %>" alt="Circle image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <section id="itens" class="section section-lg">

          <div class="container">
            <div class="row justify-content-center">
              <div  class="col-lg-12">
                <h1 class="text-center"><strong>Valente</strong>,
    nós da Lascívia, <br> recomendamos as 3 categorias abaixo
    <strong></strong> para você se divertir!
    </p></h1>
    <br>
                <div class="row row-grid justify-content-center">
                  <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
        <!--
            color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
        -->
                  <li class="nav-item">
                      <a class="nav-link" href="#Bullets" role="tab" data-toggle="tab" >
                          <%= image_tag "q3.png", width: "40px" %><br><br>
                          Bullets
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="#Rabbits" role="tab" data-toggle="tab">
                          <%= image_tag "q2.png", width: "40px" %><br><br>
                          Rabbits
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#Kits" role="tab" data-toggle="tab">
                          <%= image_tag "q1.png", width: "40px" %><br><br>
                          Kits
                      </a>
                  </li>
              </ul>
                <div class="tab-content tab-space col-12">
                  <div class="tab-pane active" id="Bullets">
                    <br><br><br><br>
                    <!-- cards de produtos BULLETS -->
                    <div class="row">
                      <div class="col-md-4">
                        <div class="flip-card">
<div class="flip-card-inner">
                        <div class="card card-coin card-plain flip-card-front">

                          <div class="card-header">
                            <img src="<%= asset_path("golfin.jpg") %>" class="img-center img-fluid">
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <h4 class="text-uppercase">Vibrador Dolphin </h4>
                                <span style="color: rgba(255, 255, 255, 0.5)">+ Silencioso</span>
                                <hr class="line-primary">
                              </div>
                            </div>
                            <div class="row">
                              <ul class="list-group">
                                <li class="list-group-item">R$ 49.90</li>
                                <li class="list-group-item">Discreto</li>
                                <li class="list-group-item">Multivelocidade</li>
                              </ul>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                           <%= link_to "Quero esse!", product_path(Product.fourth.id), method: :get, class: "btn btn-primary btn-simple" %>
                          </div>
                        </div>
                        <!-- #parte de trás do card -->
                        <br>
                        <div class="flip-card-back">
                          <%= image_tag "dragon.png", width: "100%" %>
                           <%= link_to "Quero esse!", product_path(Product.fourth.id), method: :get, class: "btn btn-primary btn-simple" %>
                        </div>
                      </div>
                    </div>
                  </div>

                      <div class="col-md-4">
                        <div class="card card-coin card-plain">
                          <div class="card-header">
                            <img src="<%= asset_path("power.jpg")%>" class="img-center img-fluid">
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <h4 class="text-uppercase">Vibrador Bullet Power</h4>
                                <span>+ Transportável</span>
                                <hr class="line-success">
                              </div>
                            </div>
                            <div class="row">
                              <ul class="list-group">
                                <li class="list-group-item">R$ 118.50</li>
                                <li class="list-group-item">Recarregável</li>
                                <li class="list-group-item">Sofisticado</li>
                              </ul>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <button class="btn btn-success btn-simple">Quero esse!</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card card-coin card-plain">
                          <div class="card-header">
                            <img src="<%= asset_path("bud.jpg")%>" class="img-center img-fluid">
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <h4 class="text-uppercase">Vibrador Massageador BUD</h4>
                                <span>+ Estímulo de clit</span>
                                <hr class="line-info">
                              </div>
                            </div>
                            <div class="row">
                              <ul class="list-group">
                                <li class="list-group-item">R$ 178.50</li>
                                <li class="list-group-item">Várias possibilidades</li>
                                <li class="list-group-item">Discreto</li>
                              </ul>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <button class="btn btn-info btn-simple">Quero esse!</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<div class="tab-pane active" id="Rabbits">
                    <br><br><br><br><br>
                    <!-- cards de produtos rabbits-->
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card card-coin card-plain">
                          <div class="card-header">
                            <img src="<%= asset_path("mini.jpg")%>" class="img-center img-fluid">
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <h4 class="text-uppercase">Mini Rabbit</h4>
                                <span>+ Compacto</span>
                                <hr class="line-primary">
                              </div>
                            </div>
                            <div class="row">
                              <ul class="list-group">
                                <li class="list-group-item">R$ 99.80</li>
                                <li class="list-group-item">Pequeno</li>
                                <li class="list-group-item">Silencioso</li>
                              </ul>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <button class="btn btn-primary btn-simple">Quero o meu!</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card card-coin card-plain">
                          <div class="card-header">
                            <img src="<%= asset_path("conrol.jpg")%>" class="img-center img-fluid">
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <h4 class="text-uppercase">Rabbit Canrol</h4>
                                <span>+ Estímulo de clit</span>
                                <hr class="line-success">
                              </div>
                            </div>
                            <div class="row">
                              <ul class="list-group">
                                <li class="list-group-item">R$ 322.60</li>
                                <li class="list-group-item">Textura Granular</li>
                                <li class="list-group-item">7 modos de vibração</li>
                              </ul>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <button class="btn btn-success btn-simple">Quero o meu!</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card card-coin card-plain">
                          <div class="card-header">
                            <img src="<%= asset_path("grandao.jpg")%>" class="img-center img-fluid">
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <h4 class="text-uppercase">Rabbit Shmilly</h4>
                                <span>+ Potencia</span>
                                <hr class="line-info">
                              </div>
                            </div>
                            <div class="row">
                              <ul class="list-group">
                                <li class="list-group-item">R$ 279.80</li>
                                <li class="list-group-item">Giratório</li>
                                <li class="list-group-item">Dois motores</li>
                              </ul>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <button class="btn btn-info btn-simple">Quero o meu!</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane active" id="Kits">
                    <br><br><br><br><br>
                    <!-- cards de produtos BULLETS -->
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card card-coin card-plain">
                          <div class="card-header">
                            <img src="<%= asset_path("kittt.jpg")%>" class="img-center img-fluid">
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <br>
                                <h4 class="text-uppercase">Starter Pack</h4>
                                <span>Iniciate</span>
                                <hr class="line-primary">
                              </div>
                            </div>
                            <div class="row">
                              <ul class="list-group">
                                <li class="list-group-item">Silencioso</li>
                                <li class="list-group-item">Escondível/li>
                                <li class="list-group-item">Perfeito</li>
                              </ul>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <button class="btn btn-primary btn-simple">Quero o meu!</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card card-coin card-plain">
                          <div class="card-header">
                            <img src="<%= asset_path("kitt.png")%>" class="img-center img-fluid">
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <h4 class="text-uppercase">Dark Coin</h4>
                                <span>Plan</span>
                                <hr class="line-success">
                              </div>
                            </div>
                            <div class="row">
                              <ul class="list-group">
                                <li class="list-group-item">150 messages</li>
                                <li class="list-group-item">1000 emails</li>
                                <li class="list-group-item">24/7 Support</li>
                              </ul>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <button class="btn btn-success btn-simple">Quero o meu!</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card card-coin card-plain">
                          <div class="card-header">
                            <img src="<%= asset_path("kit.png")%>" class="img-center img-fluid">
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <h4 class="text-uppercase">Bright Coin</h4>
                                <span>Plan</span>
                                <hr class="line-info">
                              </div>
                            </div>
                            <div class="row">
                              <ul class="list-group">
                                <li class="list-group-item">350 messages</li>
                                <li class="list-group-item">10K emails</li>
                                <li class="list-group-item">24/7 Support</li>
                              </ul>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <button class="btn btn-info btn-simple">Quero o meu!</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

                </div>
              </div>
            </div>
          </div>
        </section>


    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h1 class="title">BLK•</h1>
          </div>
          <div class="col-md-3">
            <ul class="nav">
              <li class="nav-item">
                <a href="../index.html" class="nav-link">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/landing-page.html" class="nav-link">
                  Landing
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/register-page.html" class="nav-link">
                  Register
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/profile-page.html" class="nav-link">
                  Profile
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav">
              <li class="nav-item">
                <a href="https://creative-tim.com/contact-us" class="nav-link">
                  Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a href="https://creative-tim.com/about-us" class="nav-link">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a href="https://creative-tim.com/blog" class="nav-link">
                  Blog
                </a>
              </li>
              <li class="nav-item">
                <a href="https://opensource.org/licenses/MIT" class="nav-link">
                  License
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="title">Follow us:</h3>
            <div class="btn-wrapper profile">
              <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-dribbble"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
 </div>
</body>
