<head>
  <link rel="app/assets/stylesheets/products/_index.scss" href="">

</head>

<body>
  <div class="container">
    <h1>see all products</h1>
    <div class="row">
      <div class="products">
        <% @products.each do |product| %>
          <div class="product">
            <%= link_to product_path(product) do %>
              <% if product.photo.present? %>
                <%= image_tag product.photo, id: "photo" %>
              <% else %>
                <%= image_tag "" %>
              <% end %>
            <% end %>
            <hr class="line">
            <div class="title">
              <h3><%= product.name.upcase %></h3>
            </div>
            <hr class="line">
            <div class="infos">
              <p><%= product.category.name %></p>
              <p><%= product.price %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= link_to 'Create Product', new_product_path, class: "btn btn-warning" %>
  </div>
</body>

