<div class="container">
  <h1>R$ <%= @product.price.to_i %> - <%= @product.name %></h1>
  <img src="../images/anal-plug.jpg" alt="anal-plug" id="product-image">
  <p>Bem vindo @product.user.first_name, <br> baseado no seu Tipo de Personalidade
    <strong><%= @product.personality_type.name %></strong>,
    nós da Lascívia, <br> recomendamos os produtos da Categoria
    <strong><%= @product.category.name %></strong> para você se divertir!
  </p>
  <div class="container description">
    <h5>Description:</h5>
    <p><%= @product.description %></p>
  </div>

  <%= link_to "Adicionar ao Carrinho", order_items_path(product_id: @product.id), method: :post, class: "btn btn-warning" %>
</div>
